alias py='python3'
alias art='php artisan'
alias bigf='du -sh ./* | sort -h'
alias bigfh='du -sh \.* | sort -h'
alias pingoogle='ping -i 0.2 8.8.8.8'
alias op='xdg-open'
alias duh='du -h'
alias zshconfig='vim ~/.zshrc'
alias sai='sudo apt install'
alias clima='curl -s "wttr.in/?lang=es"'
#alias composer='$HOME/composer.phar'
alias art='php artisan'
alias guver='guetzli --verbose'
alias rm='rm -I'
alias ual='sudo apt update && apt list --upgradable'
alias ydmp3='youtube-dl -x --audio-format mp3'
alias phpu='./vendor/bin/phpunit'
alias phpuf='./vendor/bin/phpunit --filter'
alias glnm='git log -p --no-merges'
alias glnmu='git log -p --no-merges ..@{u}'
alias glou='git log --oneline --no-merges --decorate ..@{u}'
alias mv='nocorrect mv -i'
alias vimro='vim -R'
alias psysh='$HOME/.config/composer/vendor/bin/psysh'
alias neural='th neural_style.lua -model_file models/nin_imagenet_conv.caffemodel -proto_file models/train_val.prototxt -gpu 0 -num_iterations 1000 -seed 123 -content_layers relu0,relu3,relu7,relu12 -style_layers relu0,relu3,relu7,relu12 -content_weight 10 -style_weight 1000 -image_size 512 -optimizer adam -print_iter 10'
alias chlog='apt-get changelog'
alias list-kernels='dpkg --list | grep "Linux kernel image" | grep ii'
alias tipo='mimetype -d'
alias arduino=/home/mauricio/proyectos/arduino/arduino-1.8.0/arduino
alias how-many-files="find . -type f | wc -l"
alias ram-usage="ps aux --sort -rss"
alias pingflood="sudo ping -f 8.8.8.8"
alias aps='apt show'
alias hlaps='hl --apt'
alias fking-promises-how-do-they-work='mpv $HOME/Videos/laracasts/13-Promises-101.mp4'
alias cdmedia='cd /media/mauricio'
alias steam-dir='$HOME/.local/share/Steam/steamapps/common'
alias recuperar-archivos-docx="ff '*.docx'|xargs -n 1 docx2txt"
alias l.='ls -d .*'
# `cat` with beautiful colors. requires: pip install -U Pygments
alias c='pygmentize -O style=monokai -f console256 -g'
alias dnfgp="dnf groupinfo"
alias vimconfig="vim $HOME/.vimrc"
alias dnffiles="repoquery -l"
alias firedev="$HOME/bin/firefox/firefox&!"
alias ls=lsd
